<!DOCTYPE html>
<html>
  <head>
    <title>Nayoon's Website</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/handlebars.runtime-v4.0.2.js"></script>
    <script src="/javascripts/templates.js"></script>
    <script src="/javascripts/helpers.js"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <div id="header">
      <button id="home-button">Home</button>
      <button id="about-button">About</button>
      <button id="test-prep-button">Test Prep</button>
      <button id="tutoring-button">Academic Tutoring</button>
      <button id="blog-button">Blog</button>
      <button id="contact-button">Contact</button>
    </div>
    
    <div id="main-container"></div>
    <div id="footer">
    </div>
  </body>
</html>
